@import "../../scss/style.scss";

.cart {
  &__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
  }

  &__added {
    height: 80vh;
    margin-top: 120px;
    border: 1px solid red;
  }
}
