// font family
$primary-font: "Montserrat", sans-serif;

// color
$color-black: hsl(0, 0%, 0%);
$color-black-400: hsl(0, 0%, 46%);
$color-black-300: hsl(0, 0%, 27%);
$color-white: hsl(0, 0%, 100%);
$color-white-100: hsl(0, 0%, 87%);
// $color-white-snow: hsla(0, 24%, 96%, 0.231);
$color-metallic-seaweed: hsl(188, 100%, 29%);
$color-orange: hsl(33, 100%, 50%);
$color-orange-ochre: hsl(43, 84%, 43%);
$color-orange-dark-goldenrod: hsl(43, 84%, 37%);
$color-orange-sandy-taupe: hsl(43, 84%, 33%);
$color-orange-bleach-white: hsl(43, 84%, 93%);
$color-orange-peach-yellow: hsl(43, 84%, 83%);
$color-orange-macaroni: hsl(43, 84%, 57%);

