@import "../../scss/style.scss";

.header {
  max-width: 100%;
  height: 60px;
  padding-block: 5px;
  background: #0f1111;

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & > * {
      height: 50px;
    }
  }

  :is(&__logo, &__your-address, &__signin, &__return-order, &__add-to-cart) {
    &:hover {
      border: 1px solid $color-white;
      border-radius: 2px;
    }
  }

  &__logo-img {
    width: 129px;
  }

  &__your-address {
    display: none;
    align-items: center;
    width: 185px;

    @include media-breakpoint-up(xxl) {
      display: flex;
    }

    div {
      span {
        &:first-child {
          font-size: 12px;
        }

        &:nth-child(2) {
          font-size: 14px;
        }
      }
    }
  }

  &__search-bar {
    width: 50%;
    display: none;

    @include media-breakpoint-up(sm) {
      display: flex;
    }
  }

  &__hamburger {
    position: relative;
    width: 50px;
    padding: 8px;
    border: 1px solid $color-white;
    border-radius: 10px;
    cursor: pointer;

    @include media-breakpoint-up(md) {
      display: none;
    }

    span {
      position: absolute;
      top: 44%;
      left: 20%;
      width: 30px;
      height: 3px;
      background: $color-white;
      border-radius: 50px;

      &:nth-child(1) {
        transform: translateY(-8px);
      }
      &:nth-child(3) {
        transform: translateY(8px);
      }
    }
  }

  &__right {
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 27%;

    @include media-breakpoint-up(md) {
      display: flex;
    }
  }

  &__language {
    display: none;

    @include media-breakpoint-up(xxl) {
      display: block;
    }
  }

  &__btn-section {
    @include flexCenter;
    flex-direction: column;
    grid-area: top;
    border-bottom: 1px solid $color-white-100;
  }
  &__lists {
    grid-area: left;
  }

  &__your-account {
    grid-area: right;
    border-left: 1px solid $color-white-100;
  }

  &__new-customer {
    font-size: 11px;
  }

  &__signin {
    display: flex;
    min-width: 140px;

    &:hover {
      & .header__signin-option {
        display: block;
      }

      & .test {
        z-index: 10;
        position: absolute;
        inset: 0;
        min-height: 100vh;
        margin-top: 60px;
        background: #00000069;
      }
    }

    div {
      &:first-child {
        span {
          display: block;
          &:first-child {
            font-size: 12px;
          }
          &:last-child {
            font-size: 14px;
          }
        }
      }

      &:last-child {
        align-self: flex-end;
      }
    }

    &-icon {
      position: relative;
    }
    // comment
    &-option {
      z-index: 20;
      position: absolute;
      right: 71px;
      top: 50px;
      width: 500px;
      height: 400px;
      background: $color-white;
      border-radius: 5px;
      display: none;

      .arrow {
        position: absolute;
        right: 126px;
        top: -4px;
        width: 20px;
        height: 20px;
        background: $color-white;
        transform: rotate(45deg);
      }

      &-content {
        display: grid;
        grid-template:
          "top top " auto
          "left right" auto
          / 0.9fr 1fr;
        gap: 20px;
      }
    }
  }

  :is(&__lists, &__your-account) {
    ul {
      li {
        font-size: 13px;

        & > * {
          color: $color-black-300;
        }

        & > *:hover {
          color: $color-orange;
        }

        &:hover {
          color: $color-orange;
          text-decoration: underline;
        }
      }
    }
  }

  &__return-order {
    display: none;
    min-width: 90px;
    @include media-breakpoint-up(xl) {
      display: flex;
    }
  }

  &__add-to-cart {
    display: flex;
    min-width: 78px;

    div {
      span {
        left: 32%;
        display: grid;
        place-items: center;
        width: 14px;
        padding-top: 0;
        aspect-ratio: 1 / 1;
      }
    }

    span {
      padding-top: 10px;
      font-size: 14px;
    }
  }
}
