@import "../../scss/style.scss";

.img {
  z-index: -1;
  height: 70vh;
}

.owl-nav {
  //   position: relative;
  button[type="button"] {
    position: absolute;
    top: 0;
    width: 80px;
    height: 44%;
    margin: 0;

    :is(&:nth-child(1), &:nth-child(2)) {
      font-size: 95px;
      &:hover {
        border: 1px solid $color-white;
        background: transparent;
        color: $color-black;
      }
    }

    &:nth-child(1) {
      left: 0;
    }

    &:nth-child(2) {
      right: 0;
    }
  }
}
