@import "../../scss/style.scss";

.img {
  z-index: -1;
  height: 70vh;
}

.owl-nav {
  button[type="button"] {
    position: absolute;
    top: 0;
    width: 80px;
    height: 44%;
    margin: 0;

    :is(&:nth-child(1), &:nth-child(2)) {
      font-size: 95px;
      &:hover {
        box-shadow: inset 0 0 0 2px $color-white,
          inset 0 0 0 4px $color-metallic-seaweed;
        background: transparent;
        color: $color-black;
      }
    }

    &:nth-child(1) {
      left: 0;
    }

    &:nth-child(2) {
      right: 0;
    }
  }
}
